{% extends "base.html" %}

{% block content %}

<div class="profile-container">


  {% if role == 'teacher' %}

<div class="subject-card">

    <h3>Allocated Subjects</h3>

    {% if teacher_subjects %}

        <ul>
            {% for subject in teacher_subjects %}
                <li>
                    {{ subject.subject_name }}
                    ({{ subject.subject_code }})
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <p>No subjects assigned.</p>

    {% endif %}

</div>

{% endif %}

<br><br><hr>

    <div class="profile-card">

        <div class="profile-header">
            <h2>Edit Profile</h2>
            <p>Update your account information</p>
        </div>

        

        <form method="POST">
            <br>
            <div class="form-group">
                <label>First Name</label>
                <input type="text"
                       name="fname"
                       value="{{ profile.fname if profile else '' }}"
                       required>
            </div>
            <br>

            <div class="form-group">
                <label>Last Name</label>
                <input type="text"
                       name="lname"
                       value="{{ profile.lname if profile else '' }}"
                       required>
            </div>
            <br>

            <div class="form-group">
                <label>Phone Number</label>
                <input type="text"
                       name="phone"
                       value="{{ profile.phone if profile else '' }}">
            </div>
            <br>

            {% if role == 'student' %}

            <label>Course & Year</label>

            <select name="course_year_id">

                {% for item in course_years %}
                    <option value="{{ item.id }}"
                    {% if profile.cource == item.course and profile.year == item.year %}
                        selected
                    {% endif %}
                    >
                        {{ item.course }} - {{ item.year }}
                    </option>

                {% endfor %}

            </select>

            {% elif role == 'teacher' %}
      
            <div class="form-group">
                <label>Department</label>
                <input type="text"
                       name="department"
                       value="{{ profile.department if profile else '' }}">
            </div>

            {% elif role == 'staff' %}
            <div class="form-group">
                <label>Designation</label>
                <input type="text"
                       name="designation"
                       value="{{ profile.designation if profile else '' }}">
            </div>

            {% endif %}
            <br>
            <button type="submit" class="save-btn">
                Save Changes
            </button>

        </form>

    </div>

</div>

{% endblock %}