{% extends "base.html" %}

{% block page_title %}
Teachers Records
{% endblock %}

{% block content %}

<div class="card">

    <h2>Teacher List</h2>

    <table width="100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Action</th>
        </tr>

        {% for t in teachers %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{t.fname}} {{t.lname}}</td>
            <td>{{t.email}}</td>
            <td>{{t.department}}</td>

            <td>
                <a class="btn"
                   href="{{ url_for('delete_teacher', id=t.id) }}"
                   onclick="return confirm('Delete this teacher?')">
                   Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <hr>
    <br>

    <h2>Add New Teacher</h2>

    <form method="POST">

        <label>First Name</label><br>
        <input type="text"
               name="fname"
               placeholder="First Name"
               required>
        <br><br>

        <label>Last Name</label><br>
        <input type="text"
               name="lname"
               placeholder="Last Name"
               required>
        <br><br>

        <label>Email</label><br>
        <input type="email"
               name="email"
               placeholder="Email"
               required>
        <br><br>

        <label>Password</label><br>
        <input type="password"
               name="password"
               placeholder="Password"
               required>
        <br><br>

        <label>Phone</label><br>
        <input type="text"
               name="phone"
               placeholder="Phone Number"
               required>
        <br><br>



        <button type="submit" class="btn">
            Add Teacher
        </button>

    </form>

</div>

{% endblock %}