{% extends "base.html" %}

{% block page_title %}
Students Records
{% endblock %}

{% block content %}

<div class="card">

<h2>Student List</h2>

<table width="100%">
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Year</th>
<th>Acadmic Year</th>
<th>Action</th>
</tr>

{% for s in students %}
<tr>
<td>{{loop.index}}</td>
<td>{{s.fname}} {{s.lname}}</td>
<td>{{s.email}}</td>
<td>{{s.year}}</td>
<td>{{s.academic_year}}</td>

<td>
<a class="btn"
href="/staff/delete-student/{{s.id}}">
Delete
</a>
</td>

</tr>
{% endfor %}
</table>

<hr><br>

<h2>Add New Student</h2>

<form method="POST">
<label>First Name</label><br>
<input type="text"
name="fname"
placeholder="First Name"
required><br><br>

<label>Last Name</label><br>
<input type="text"
name="lname"
placeholder="Last Name"
required><br><br>

<label>Email</label><br>
<input type="email"
name="email"
placeholder="Email"
required><br><br>

<label>Password</label><br>
<input type="password"
name="password"
placeholder="Password"
required><br><br>

<label>Phone Number</label><br>
<input type="text"
name="phone"
placeholder="Phone"
required><br><br>

<label>Course & Year</label><br>
<select name="course_year" required>
    <option value="">Select Course & Year</option>
    {% for item in course_years %}
        <option value="{{ item.id }}">
            {{ item.course }} - {{ item.year }}
        </option>
    {% endfor %}
</select>
<br><br>
<button class="btn" type="submit">
Add Student
</button>

</form>

</div>

{% endblock %}