{% extends "base.html" %}

{% block page_title %}
Assignments
{% endblock %}

{% block content %}

<div class="card">

    <h2>Assignments</h2>

    <table class="table">

        <tr>
            <th>Title</th><th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for assignment in assignments %}

        <tr>

            <td>{{ assignment.title }}</td>

            <td>{{ assignment.due_date }}</td>

            {% if assignment.id in submission_map %}

                <td>Submitted</td>

                <td>
                    <button class="btn" disabled>
                        Submitted
                    </button>
                </td>

            {% elif assignment.due_date < today %}

                <td>Expired</td>

                <td>
                    <button class="btn" disabled>
                        Expired
                    </button>
                </td>

            {% else %}

                <td>Not Submitted</td>

                <td>
                    <a
                        href="{{ url_for('submit_assignment', id=assignment.id) }}"
                        class="btn">
                        Submit
                    </a>
                </td>

            {% endif %}

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}