{% extends "base.html" %}

{% block page_title %}
Student Marks
{% endblock %}

{% block content %}

<div class="card">

<h2>Marks Records</h2>

<table width="100%">
<tr>
    <th>Student</th>
    <th>Subject</th>
    <th>Marks</th>
    <th>Grade</th>
    <th>Semester</th>
</tr>

{% for r in results %}
<tr>

    <td>
        {{ student_map.get(r.student_id,"Unknown") }}
    </td>

    <td>
        {{ subject_map.get(r.subject_id,"Unknown") }}
    </td>

    <td>{{r.marks}}</td>

    <td>{{r.grade}}</td>

    <td>{{r.semester}}</td>

</tr>
{% endfor %}

</table>

<br>
<hr>
<br>

<h2>Add Student Marks</h2>

<form method="POST">

<label>Select Student</label><br>

<select name="student_id" required>

<option value="">
Select Student
</option>

{% for s in students %}
<option value="{{s.id}}">
{{s.fname}} {{s.lname}}
</option>
{% endfor %}

</select>

<br><br>

<label>Select Subject</label><br>

<select name="subject_id" required>

<option value="">
Select Subject
</option>

{% for s in subjects %}
<option value="{{s.id}}">
{{s.subject_name}}
</option>
{% endfor %}

</select>

<br><br>

<label>Marks</label><br>

<input type="number"
       name="marks"
       min="0"
       max="100"
       required>

<br><br>

<label>Grade</label><br>

<select name="grade" required>

<option value="A+">A+</option>
<option value="A">A</option>
<option value="B">B</option>
<option value="C">C</option>
<option value="D">D</option>
<option value="F">F</option>

</select>

<br><br>

<label>Semester</label><br>

<input type="text"
       name="semester"
       placeholder="Sem-3"
       required>

<br><br>

<button class="btn">
Add Marks
</button>

</form>

</div>

{% endblock %}