{% extends "base.html" %}

{% block page_title %}
Assignment Submissions
{% endblock %}

{% block content %}

<div class="card">

<table width="100%" border="1">

<tr>
<th>Student</th>
<th>Assignment</th>
<th>File</th>
<th>Marks</th>
<th>Remarks</th>
<th>Save</th>
</tr>

{% for s in submissions %}

<tr>

<td>
{{ student_map.get(s.student_id) }}
</td>

<td>
{{ assignment_map.get(s.assignment_id) }}
</td>

<td>
<a href="{{ url_for('static',
filename=s.file_path) }}"
target="_blank">
View File
</a>
</td>

{% if edit_id == s.id|string or s.marks == None %}

<form method="POST">

<input type="hidden"
name="submission_id"
value="{{s.id}}">

<td>

<input type="number"
name="marks"
value="{{s.marks or ''}}"
required>

</td>

<td>

<input type="text"
name="remarks"
value="{{s.remarks or ''}}"
required>

</td>

<td>

<button class="btn">
Save
</button>

</td>

</form>

{% else %}

<td>
{{s.marks}}
</td>

<td>
{{s.remarks}}
</td>

<td>

<a class="btn"
href="{{ url_for('teacher_submissions',
edit=s.id) }}">

Edit

</a>

</td>

{% endif %}

</tr>

{% endfor %}
</table>

</div>

{% endblock %}