{% extends "base.html" %}

{% block page_title %}
Assignments
{% endblock %}

{% block content %}

<div class="card">

<h2>Assignment List</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Subject</th>
    <th>Created Date</th>
    <th>Due Date</th>
    <th>Action</th>
</tr>

{% for a in assignments %}

<tr>

{% if edit_id == a.id|string %}

<form method="POST">

<input type="hidden"
       name="assignment_id"
       value="{{ a.id }}">

<td>
{{ a.id }}
</td>

<td>

<input
type="text"
name="title"
value="{{ a.title }}"
required>

</td>

<td>

<textarea
name="description"
rows="3"
required>{{ a.description }}</textarea>

</td>

<td>

<select name="subject_id" required>

{% for s in subjects %}

<option value="{{ s.id }}"
{% if s.id == a.subject_id %}
selected
{% endif %}>

{{ s.subject_name }}

</option>

{% endfor %}

</select>

</td>

<td>
{{ a.created_date }}
</td>

<td>

<input
type="date"
name="due_date"
value="{{ a.due_date.strftime('%Y-%m-%d') }}"
min="{{ today }}"
required>

</td>

<td>

<button class="btn" type="submit">
Save
</button>

<a class="btn"
href="{{ url_for('teacher_assignments') }}">
Cancel
</a>

</td>

</form>

{% else %}

<td>{{ a.id }}</td>

<td>{{ a.title }}</td>

<td>{{ a.description }}</td>

<td>

{% for s in subjects %}
{% if s.id == a.subject_id %}
{{ s.subject_name }}
{% endif %}
{% endfor %}

</td>

<td>{{ a.created_date }}</td>

<td>{{ a.due_date }}</td>

<td>

<a class="btn"
href="{{ url_for('teacher_assignments', edit=a.id) }}">
Edit
</a>

<a class="btn"
href="{{ url_for('delete_assignment', id=a.id) }}"
onclick="return confirm('Delete Assignment?')">
Delete
</a>

</td>

{% endif %}

</tr>

{% endfor %}

</table>

<br>
<hr>
<br>

<h2>Add New Assignment</h2>

<form method="POST">

<label>Title</label><br>

<input
type="text"
name="title"
required>

<br><br>

<label>Description</label><br>

<textarea
name="description"
rows="4"
cols="50"
required></textarea>

<br><br>

<label>Subject</label><br>

<select name="subject_id" required>

<option value="">
Select Subject
</option>

{% for s in subjects %}

<option value="{{ s.id }}">
{{ s.subject_name }}
</option>

{% endfor %}

</select>

<br><br>

<label>Due Date</label><br>

<input
type="date"
name="due_date"
min="{{ today }}"
required>

<br><br>

<button class="btn" type="submit">
Add Assignment
</button>

</form>

</div>

{% endblock %}